.bg{
    background-color: Wheat;
}
.bg{
    background-color: Wheat;
}
.img-fluid{
    animation: animate 3s linear infinite;
}
@keyframes animate {
    0%{
        transfrom: translate(-11px, 0);
    }
    50%{
        transform: translate(0, -11px);
    }
    100%{
        transform: translate(-11px, 0);
    }
}

body {
    background-color: var(--three-color);
    background-color: rgb(230, 230, 230);
}

.hr {
    background: var(--one-color);
    border: none;
    height: 1px;
}

.table-cart {
    padding: 0 7.5%;
}

.table {
    margin-top: 25px;
    width: 100%;
}
 
.table-in {
    display: flex;
    justify-content: space-evenly;
}

.delete-button {
    border-radius: 5px;
    padding: 2.5px 5px;
    font-size: 10px;
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: #FC2947;
    transition: all 0.25s ease-in-out;
}

.delete-button:hover {
    background-color: #FC2947;
    color: white;
    border-color: #FC2947;
}

.total-price {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 10%;
    margin: 10px 0;
}

.cart-action {
    display: flex;
    justify-content: flex-end;
    padding: 0 10%;
    margin-top: 7.5px;
}

.cart-action form {
    margin-left: 10px;
}


.back-action,
.checkout-action {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    border-width: 1.5px;
}

.back-action {
    background-color: rgb(230, 230, 230);
    color: black;
    border-style: solid;
    border-color: #E7B10A;
    transition: all 0.25s ease-in-out;
}

.checkout-action {
    background-color: rgb(230, 230, 230);
    color: black;
    border-style: solid;
    border-color: #609966;
    transition: all 0.25s ease-in-out;
}

.back-action:hover {
    background-color: #E7B10A;
    color: white;
    border-color: #E7B10A;
    font-weight: bold;
}

.checkout-action:hover {
    background-color: #609966;
    color: white;
    border-color: #609966;
    font-weight: bold;
}